<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= site_title %> </title>
  <base href="<%= base_url %>">
  <link rel="stylesheet" href="layouts/styles.css">
</head>
<body>
  <div id="container">

    <div id="content">

      <%- include('partials/nav.ejs') %>
  
      <!-- renderEngine will autoinsert all the pages here -->
      <%- include('renderEngine.ejs') %>

      <%- include('partials/footer.ejs') %>

    </div>

  </div>
</body>
</html>